* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 18px;
  --main-color: rgb(16, 106, 148);
}
button,
input {
  outline: 0;
}
button:focus {
  outline: 0;
}
li {
  list-style: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.todo-content {
  width: 80%;
  position: absolute;
  top: 50px;
}
.todo-text {
  transition: 0.5s;
}
.input-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#todoInput {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 80%;
  box-sizing: border-box;
}

.todo-list__container {
  /* display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; */
}
.todo-list__item > span {
  line-break: anywhere;
  overflow: visible;
}
.todo-list__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list__list {
  width: 80%;
  overflow: visible;
  line-break: anywhere;
  padding: 5px 10px;
}
.todo-list__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.todo-list__item-container {
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0;
  cursor: pointer;
  z-index: 2;
}
.todo-list__item-container:hover {
  background: rgb(248, 68, 68);
  font-size: 1.5rem;
  color: white;
  border: 1px solid transparent;
}
.btn {
  padding: 10px;
  margin: 5px;
  background: transparent;
  border: 1px solid #222;
  cursor: pointer;
}
.input--main {
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 1rem;
  transition: 0.5s;
}
.input--success {
  border: 1px solid rgb(76, 255, 76) !important;
  color: rgb(76, 255, 76) !important;
}

.remove-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.done-todo {
  text-decoration: line-through;
}
.todo-text {
  z-index: 1;
}
