* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.search-input {
  padding: 10px 20px;
  border: 1px solid #222;
  font-size: 1.2rem;
  outline: 0;
}
.search-button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #222;
  margin: 5px;
  transition: 0.3s;
}
.search-button:hover {
  background: #222;
  color: white;
}
.product-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  margin: 20px;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #222;

  color: #222;
}
.subject-list {
  padding: 20px 45px;
  text-align: left;
}
.information {
  padding: 10px 20px;
}
.information > p {
  margin: 10px 0;
}
.subjects {
  margin: 0 0 20px 0;
}
.page-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.page-number {
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #222;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.3rem;
}

.page-number:hover {
  border-bottom: 1px solid transparent;
  border-top: 1px solid #222;
}

.error-message {
  text-align: center;
  padding: 10px 20px;
  margin: 10px 20px;
  font-size: 2rem;
  color: #222;
}
